@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    background-color:#042326;
    color: #F6F6F6;
}

header{
    padding-top: 2%;
    padding-left: 15%;
}

.top-nav{
    display: flex;
    gap: 50px;

}
.nav-links{
    font-size: 1.4em;
    font-weight: 700;
    color: #0FC2C0;
    text-decoration: none;

}
.content{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 5% 15%;
}

.content p{
    font-size: 1.2em;
}

.content-apresentation{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-title{
    font-size: 2.5em;
    font-weight: 700;
}

strong{
    color: #3effff;
}

.gif-working{
    width: 500px;
    height: 530px;
}

.content-btn{
    display: flex;
    justify-content: space-between;
}

.btn-links{
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 1.2em;
    color: #F6F6F6;
    width: 18.5vh;
    padding: 20px 0;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    border: 2px solid #0FC2C0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn-links:hover{
    background-color: #03575f;
}

footer{
    text-align: center;
    background-color: #0FC2C0;
    padding: 15px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}